#app {
  $menuBg:-webkit-linear-gradient(bottom, #3d6df8, #5b8cff);
  .el-menu {
    border: none;
    height: 100%;
    width: 100% !important;
    a{
      li{
        .svg-icon{
          color: #fff;
          font-size: 18px;
          vertical-align: middle;
          .icon{
            color:#fff;
          }
        }
        span{
          color: #fff;
        }
        &:hover{
          .svg-icon{
            color: #43a7fe
          }
          span{
            color: #43a7fe;
          }
        }
      }
    }
  }
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
      a{
        li{
          .svg-icon{
            color: #fff;
            font-size: 18px;
            vertical-align: middle;
            .icon{
              color:#fff;
            }
          }
          span{
            color: #fff;
          }
          &:hover{
            .svg-icon{
              color: #43a7fe
            }
            span{
              color: #43a7fe;
            }
          }
        }
      }
    }
  }

  .sidebar-container {
    background: -webkit-linear-gradient(bottom, #3d6df8, #5b8cff);
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      background: url('~@/assets/common/leftnavBg.png') no-repeat 0 100%;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }}